*{padding: 0; margin: 0; box-sizing: border-box;}
body{
    background-color: darkorange;
}
h1 {
    width: 100%;
    background-color: darksalmon;
    padding: 14px;
    text-align: center;
}
.nav a {
    display: block;
    margin: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
p {margin-left: 5%; margin-top: 5%;}